.one{
      border: 3px solid red;
      margin:auto;
      flex-wrap: nowrap;
      flex-direction: row;
      height: auto;
      display: flex;
}
#one{
    border: 2px solid blue;
    height: 100px;
    width: 900px;
    margin-left: 5px;
}
.two{
    border: 3px  solid black;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
    border: 2px solid red;
    height: auto;
    width: auto;
}