.header{
    background-color: Green;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    align-content: center;
    padding: 20px;
}
nav{
    margin-bottom: 30px;
}
a{
    color: blue;
    padding: 20px;
    font-size: 20px;

    text-decoration: none;
}
a:hover{
    color: orange;
}
#Images{
    margin: 30px;
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-evenly;
}
div{
    font-size: 30px;
    color: red;
    font-weight: 100;
}.List{
    font-size: 20px;
    color: blue;
}