#left{
    border: 2px solid red;
    height: 250px;
    margin-bottom: 20px;
}
    img{
    float: left;
}
#right{
    border: 2px solid red;
    height: 250px;
    Margin-bottom: 20px;
}
    #three{
    float: right;
}
#between{
    border: 2px solid red;
    height: 350px;
}
    #one{
    float: left;
}
#two{
    float: right;
    padding-bottom: 80px;
}