body{
    border: 2px;
    height: 900px;

}.static{
    border: 2px;
    position: static;
    top: 20px;
}
.absolute{
    border: 2px;
    position: absolute;
    top: 20px;
    left: 400px;
}
.relative{
    border:2px ;
    position: relative;
    left: 500px;
    top: 80px;
}
.fixed{
    border: 2px;
    position: fixed;
    left: 50px;
    top:500px;
    z-index: 2;
}
.sticky{
    border: 2px;
    position: sticky;
    top: 70px;
}