.images{
    border: 2px solid black;
    grid-template-columns: repeat(4,1fr);
    background-color: red;
    display: grid;

}
img{
    border: 1px solid  black;
   margin: 10px;
   height: 100px;
   width: 150px;
}
@media screen and (min-width:400px) {
    
    .images{
        background-color: blue;
        grid-template-columns: repeat(4,1fr);

    }
    
}
@media screen and (min-width:700px) and (max-width:900px) {
   
    .images{
        background-color: yellow ;
        grid-template-columns: repeat(3,1fr);
    }
    
}
@media screen and (min-width:400px) and (max-width:690px) {
    .images{
        background-color: pink;
        grid-template-columns: repeat(2,1fr);
    }
    
}
.paragraph{
    border: 2px solid red;
    background-color: blueviolet;
    margin: 50px;
}
@media screen and (min-width:420px) {
    div{
        border: 4px solid blue;
        background-color: yellowgreen;
    }
    
}
@media screen and (min-width:700px) and (max-width:900px) {
    div{
        border: 6px solid black;
        background-color: bisque;
    }
    
}
@media screen and (min-width:400px) and (max-width:690px) {
    div{
        border: 6px solid green;
        background-color: aliceblue;
    }
    
}
.table{
    border: 2px solid red;
    background-color: blueviolet;
    margin: 50px;
}
@media screen and (min-width:420px) {
    tr{
        border: 4px solid blue;
        background-color: grey;
    }
    
}
@media screen and (min-width:700px) and (max-width:900px) {
    tr{
        border: 6px solid black;
        background-color: burlywood;
    }
    
}
@media screen and (min-width:400px) and (max-width:690px) {
    tr{
        border: 6px solid green;
        background-color: antiquewhite;
    }
    
}
