/* *{ 
    img{
        border: 20px solid green;
    }
    */
    img{
        border: 30px solid blue;
    }
h2{
    color: blue;
    background-color: red;

}
h3{
    color: khaki;
    background-color: black;
    font-size: larger;
}
img{
    border: 25px solid red;
}
p{
    border: 10px solid blue;
}
.blue{
    color: red;
     background-color: black;
}
.red{
    color: blue;
    background-color: red;
}
.white{
    color: aquamarine;
    background-color: blueviolet;
}
/* #raj{ 
    color: yellow;
    background-color: blue;
    text-decoration: underline;
}*/
/* [id]{ 
    color: green;
    background-color: blue;
}
    */
[id=raj]{
    color: red;
    background-color: blue;
}

[class$=e]{
    color: green;
}
[class*=d]{
    color: green;
}

